<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Wed Developer working at Himalayan Techies, having technological knowledge aquired in Python environment previously, now indulging in PHP and its different mvc frameworks. <br/><br/>
			Besides, I enjoy Linux and cloud computing and working in operation teams as well with a focus on good development practices, automation using scripts and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
